In [1]:
import pandas as pd
import numpy as np

In [2]:
#series  (index - value pair)

In [3]:
#s=pd.Series(data,index,dtype)

In [4]:
s=pd.Series()

In [5]:
s

Series([], dtype: float64)

In [29]:
s=pd.Series([[1,2],[1,2],[1,2],[1,2]],index=['a','b','c','d'])   #index size and data size should be equal

In [30]:
s

a    [1, 2]
b    [1, 2]
c    [1, 2]
d    [1, 2]
dtype: object

In [ ]:
#create series from array

In [10]:
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [11]:
s[1]

'b'

In [ ]:
data = [1,2,3,4]
s = pd.Series(data,index=[100,101,102,103])
print (s)

In [ ]:
s[101]

In [ ]:
#create series from dictionary

In [12]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
#change value of index

In [ ]:
s['a']

In [13]:
s['a']=6

In [14]:
s

a    6.0
b    1.0
c    2.0
dtype: float64

In [ ]:
#why use series instead of dictionary ?

In [ ]:
d={'a':[1,2,3],'b':2.0}

In [ ]:
#sum on series

In [15]:
s.sum()

9.0

In [16]:
s.cumsum()

a    6.0
b    7.0
c    9.0
dtype: float64

In [ ]:
s   #original s does not change

In [17]:
s.min()

1.0

In [18]:
s.describe()   #summary of statistics

count    3.000000
mean     3.000000
std      2.645751
min      1.000000
25%      1.500000
50%      2.000000
75%      4.000000
max      6.000000
dtype: float64

In [19]:
s.mean()

3.0

In [20]:
s.median()

2.0

In [ ]:
#applications of series?-->helps in computation of a particular column

In [23]:
df=pd.read_csv('Breast-Cancer.csv')
df.replace('?',-99999,inplace=True)

In [24]:
df.head()

        id  x1  x2  x3  x4  x5  x6  x7  x8  x9  label
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [ ]:
#df.dtypes   --> gives the datatypes of columns

In [25]:
df.x9.describe()

count    699.000000
mean       1.589413
std        1.715078
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       10.000000
Name: x9, dtype: float64

In [ ]:
##################################  DataFrames ##################################

In [ ]:
#syntax

#DataFrame(data,index,column)

#index--> row number
#column--> column names

In [26]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [31]:
data=[["SFIT",4],["Thakur",3],["Tiwari",2]]
df=pd.DataFrame(data,columns=["College","Rating"])   

print(df)

  College  Rating
0    SFIT       4
1  Thakur       3
2  Tiwari       2

In [57]:
#weather data

weather_data={'date':['1/6/18', '2/6/18', '3/6/18'],
              'temp':[35,23,30],
              'winspread':[6,7,8],
              'event':["sunny", "rainy","rainy"],
             }

In [58]:
df=pd.DataFrame(weather_data)

print(df)

     date  event  temp  winspread
0  1/6/18  sunny    35          6
1  2/6/18  rainy    23          7
2  3/6/18  rainy    30          8

In [59]:
df.shape

(3, 4)

In [60]:
df.head(1)    #bydefault head takes first 5 rows

     date  event  temp  winspread
0  1/6/18  sunny    35          6

In [61]:
df.tail(1)

     date  event  temp  winspread
2  3/6/18  rainy    30          8

In [62]:
df.columns

Index(['date', 'event', 'temp', 'winspread'], dtype='object')

In [63]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
date         3 non-null object
event        3 non-null object
temp         3 non-null int64
winspread    3 non-null int64
dtypes: int64(2), object(2)
memory usage: 176.0+ bytes

In [65]:
df.count()

date         3
event        3
temp         3
winspread    3
dtype: int64

In [66]:
df.sum()

date         1/6/182/6/183/6/18
event           sunnyrainyrainy
temp                         88
winspread                    21
dtype: object

In [67]:
#accessing columns

df[['temp','date']]

   temp    date
0    35  1/6/18
1    23  2/6/18
2    30  3/6/18

In [68]:
df['temp'].sum()

88

In [69]:
#accessing particular row in a particular column

df[[column  for column in df.columns]]

     date  event  temp  winspread
0  1/6/18  sunny    35          6
1  2/6/18  rainy    23          7
2  3/6/18  rainy    30          8

In [70]:
#put breast cancer dataset into DataFrames
data=pd.read_csv('Breast-Cancer.csv')
cf=pd.DataFrame(data)

In [71]:
cf

          id  x1  x2  x3  x4  x5  x6  x7  x8  x9  label
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
5    1017122   8  10  10   8   7  10   9   7   1      4
6    1018099   1   1   1   1   2  10   3   1   1      2
7    1018561   2   1   2   1   2   1   3   1   1      2
8    1033078   2   1   1   1   2   1   1   1   5      2
9    1033078   4   2   1   1   2   1   2   1   1      2
10   1035283   1   1   1   1   1   1   3   1   1      2
11   1036172   2   1   1   1   2   1   2   1   1      2
12   1041801   5   3   3   3   2   3   4   4   1      4
13   1043999   1   1   1   1   2   3   3   1   1      2
14   1044572   8   7   5  10   7   9   5   5   4      4
15   1047630   7   4   6   4   6   1   4   3   1      4
16   1048672   4   1   1   1   2   1   2   1   1      2
17   1049815   4   1   1   1   2   1   3   1   1      2
18   1050670  10   7   7   6   4  10   4   1   2      4
19   1050718   6   1   1   1   2   1   3   1   1      2
20   1054590   7   3   2  10   5  10   5   4   4      4
21   1054593  10   5   5   3   6   7   7  10   1      4
22   1056784   3   1   1   1   2   1   2   1   1      2
23   1057013   8   4   5   1   2   ?   7   3   1      4
24   1059552   1   1   1   1   2   1   3   1   1      2
25   1065726   5   2   3   4   2   7   3   6   1      4
26   1066373   3   2   1   1   1   1   2   1   1      2
27   1066979   5   1   1   1   2   1   2   1   1      2
28   1067444   2   1   1   1   2   1   2   1   1      2
29   1070935   1   1   3   1   2   1   1   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
669  1350423   5  10  10   8   5   5   7  10   1      4
670  1352848   3  10   7   8   5   8   7   4   1      4
671  1353092   3   2   1   2   2   1   3   1   1      2
672  1354840   2   1   1   1   2   1   3   1   1      2
673  1354840   5   3   2   1   3   1   1   1   1      2
674  1355260   1   1   1   1   2   1   2   1   1      2
675  1365075   4   1   4   1   2   1   1   1   1      2
676  1365328   1   1   2   1   2   1   2   1   1      2
677  1368267   5   1   1   1   2   1   1   1   1      2
678  1368273   1   1   1   1   2   1   1   1   1      2
679  1368882   2   1   1   1   2   1   1   1   1      2
680  1369821  10  10  10  10   5  10  10  10   7      4
681  1371026   5  10  10  10   4  10   5   6   3      4
682  1371920   5   1   1   1   2   1   3   2   1      2
683   466906   1   1   1   1   2   1   1   1   1      2
684   466906   1   1   1   1   2   1   1   1   1      2
685   534555   1   1   1   1   2   1   1   1   1      2
686   536708   1   1   1   1   2   1   1   1   1      2
687   566346   3   1   1   1   2   1   2   3   1      2
688   603148   4   1   1   1   2   1   1   1   1      2
689   654546   1   1   1   1   2   1   1   1   8      2
690   654546   1   1   1   3   2   1   1   1   1      2
691   695091   5  10  10   5   4   5   4   4   1      4
692   714039   3   1   1   1   2   1   1   1   1      2
693   763235   3   1   1   1   2   1   2   1   2      2
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [72]:
cf.columns

Index(['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'label'], dtype='object')

In [73]:
#sql operations on dataset  (filteration)

In [74]:
df

     date  event  temp  winspread
0  1/6/18  sunny    35          6
1  2/6/18  rainy    23          7
2  3/6/18  rainy    30          8

In [ ]:
df[df.temp>=30]

In [75]:
#print the row with maximum temperature
df[df.temp==df['temp'].max()]

     date  event  temp  winspread
0  1/6/18  sunny    35          6

In [ ]:
#read_csv
#read_excel
#read_sql
#to_csv    --> converts dataframe to csv