# BASICS

In [ ]:
print('Hello world!') #single quote

In [ ]:
print("Hello World!") #double quote

In [ ]:
print('    *    ')   # sapces will also be considered
print('   ***   ')
print('  *****  ')
print('    *    ')
print('    *    ')
print('    *    ')

# VALUES AND VARIABLES

NUMERICAL VALUES

In [ ]:
print(4)

In [ ]:
print(1+3+5+7)

In [ ]:
print('6')

In [ ]:
print('6'+3)

In [ ]:
prnt("abc")

In [ ]:
'ABC"

In [ ]:
type(True)

In [ ]:
type('4')

In [ ]:
#convert value from string to int
int('3')

In [ ]:
'4'+3

In [ ]:
int('4')+3

In [ ]:
#convert value from string to interger
str(4)

In [ ]:
int('wow')

In [ ]:
int('3.4')

In [ ]:
int(float('3.4'))

VARIABLES & ASSIGNMENT

In [ ]:
x = 10
print(x)

In [ ]:
print('x')

In [ ]:
5 = x
#attempts to reassign the value of the literal integer value 5,
#but this cannot be done because 5 is always 5 and cannot be changed. 
#Such a statement will produce an error.

In [ ]:
x=5
print(x)
x=10
print(x)
x=15
print(x)

print(x)

In [ ]:
x = 5
y =10
z =15
print('x -> ' , x)

In [ ]:
print('x -> ' , x)

In [ ]:
x,y,z =10,20,230
print( 'x->',x ,'y->',y , 'z->',z)

In [ ]:
x,y = 10,20,30

In [ ]:
x,y,z=10,20

In [ ]:
x='USA'
x

In [ ]:
del x
print(x)

In [ ]:
4bag =5
U A E = 6
if = 5
class = 5
*node = 7

In [ ]:
u.e =7

FLOATING POINT NUMBER

In [ ]:
X=5.56

In [ ]:
X

In [ ]:
8type(X)

In [ ]:
x= 23.3123400654033989

In [ ]:
print(x)

In [ ]:
c  = 6.0240e20

In [ ]:
c

In [ ]:
28.71

In [ ]:
print = 5
print

In [ ]:
int(28.72)

In [ ]:
round(28.71)

In [ ]:
round(28.17)

In [ ]:
x=90.30303
round(x,1)

In [ ]:
x=0923.123
round(x,-3)

CONTROL CODE WITHIN STRING

In [ ]:

print('UAE\nINDIA\nUSA')

In [ ]:
print('a\nb') # new line

In [ ]:
print('dv\te\tb') # tab space

In [ ]:
print('eg\bf') #backspace

did you know that 'word' is word?

In [ ]:
print("did you know that 'word' is word?:")

In [ ]:
print('a\\tb')

In [ ]:
print('c:\\user\\appdata')

USER INPUT

In [ ]:
name = input('number')

In [ ]:
name = int(name)
type(name)

In [ ]:

print(int(input()))

In [ ]:
type (x)

In [ ]:
pi = round(float(input('enter a PI value')))
print(pi)

In [ ]:
int('3.14')

CONTROLLING PRINT STATEMENT

In [ ]:
print('a',end='---')
print('b',end ='\t')
print('c')

In [ ]:
print('Welcome to the AI Course', end='')

In [ ]:
print( end='Welcome to the AI Course')

In [ ]:
print('A',end='...')
print('B')

In [ ]:
a,b,c,d = 10,20,20,40
print(a,b,c,d,sep=';',end =';')

In [ ]:
name ='Chirag'
origin = 'India'
print(" {0} is coming from {1}" .format(name,origin))

# MULTI LINE STRING

In [ ]:
print('chirag
      tank')

In [ ]:
print('''The United Arab Emirates, sometimes simply called the Emirates,
      is a country in Western Asia at the southeast end of the Arabian
Peninsula on the Persian Gulf, bordering Oman to the east and Saudi Arabia 
      to the south, as well as sharing maritime borders with Qatar to the west and 
      Iran to the north. The sovereign absolute monarchy is a federation of seven 
      emirates consisting of Abu Dhabi, Ajman, Dubai, Fujairah, Ras al-Khaimah, 
Sharjah and Umm al-Quwain. Each emirate is governed by a ruler; toget''')

# EXPRESSIONS & AITHMETIC

In [ ]:
X,Y= 10,20

In [ ]:
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X%Y)
print(X**Y)

In [ ]:
99 // 6

In [ ]:
25//3

 Operator Precedence and Associativity

In [ ]:
(2 + 3) * 4

COMMENTS

In [ ]:
# SINGLE LINE COMMENT

In [ ]:
'''
MULTI
LINE 
COMMENT
'''

ARITHMETIC OPERATIONS

In [ ]:
x=1 
x = x -  1

In [ ]:
print(x)

In [ ]:
x += 1
x -= 1

# CONDITIONAL EXECUTION

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [ ]:
x=3
y=5

In [ ]:
x  !=  y  # X IS NOT EQUAL TO Y ?

In [ ]:
x < y

In [ ]:
x > y

In [ ]:
x <= y

In [ ]:
x >= y

In [ ]:
x != y

IF ELSE ELIF

In [ ]:
num = int (input('Enter number'))
if (num%2 == 0 ):
    print('even')
else:
    print('odd')

In [ ]:
x = 90
if ( x<10):
    print(x)
    print('finish')

In [ ]:
x=10

if x<10:print('correct')

In [2]:
x = 1
while x == 1:  
    
    balance = float( input('Enter Balance'))
    withdraw =float( input('Enter Withdraw amount'))

    if (withdraw < (balance-0.50)) :
        if( withdraw % 5  == 0):
            rem_bal = balance - withdraw - 0.50
            print('balance',end='')
            print(rem_bal)
        else:
            print('multiple of 5')
    else:
        print('insuf bal')
   
    x = int(input('1.Cont 2.Exit'))

Enter Balance100
Enter Withdraw amount020
balance79.5
1.Cont 2.Exit1
Enter Balance200
Enter Withdraw amount100
balance99.5
1.Cont 2.Exit2

In [ ]:
balance = float( input('Enter Balance'))
withdraw =float( input('Enter Withdraw amount'))
if (withdraw < (balance-0.50) and withdraw % 5  == 0) :
    print( balance - withdraw - 0.50)
else:
    print('insuf bal')

In [ ]:
dividend = int(input('Please enter the number to divide: ')) 
divisor = int(input('Please enter dividend: '))
# If possible, divide them and report the result 
if divisor != 0: 
    quotient = dividend/divisor 
    print(dividend, '/', divisor, "=", quotient) 
print('Program finished')

COMPOUND BOOLEAN EXPRESSION

In [ ]:
# CHECK IF VALUE IS BETWEEN 10 & 20
x=25
x>10 and x<20

In [ ]:
#CHECK IF VALUES ARE MULTIPLE OF 3 OR 5
X=12
(X%5 == 0) or (X%3 == 0)

In [ ]:
not  False

PASS STATEMENT

In [ ]:
x=20
if x>=100:
    pass #do nothing    (in bank for insufficient funds)
else:
    x =x- 10
print(x)

EXERCISE PAGE 89
file:///C:/Users/Chirag/Downloads/pythonbook.pdf

In [ ]:
if (input('has power?') == 'Yes' ):
    print('seek Others help')
else:
    if (input('Is plugged in') == 'Yes'):
        if(input('is the switch on?') == 'Yes'):
            .....
        else:
            .....
    else:
        print('Plug it in')

In [ ]:
mmm

In [ ]:
month = int(input(" enter the month as a number (1-12): ")) 
# Translate month into English Please
if month == 1:
    print("January ") 
elif month == 2:
    print("February ")
else:
    print('thank you')

# ITERATION

WHILE

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

In [ ]:
n = 0
while n <= 100 :
    if(n%2 == 0):
        print(n ,end = ',')
    n = n+1

In [ ]:
cont = True
while cont:
    B= int(input("Enter your balance: "))
    if(B==0):
        cont = False
        break
    W= int(input("Enter your widthdraw amount: "))
    fee=0.05
    if B<=W:
        print("No enough balance")
    else:
        if (W)%5==0:
            print("Your current balance is: {0}".format(B-W-fee))
        else: 
            print("Please select a withdrawal amount as a multiple of 5")

In [ ]:
# perform while loop in bank ATM

THE FOR STATEMENT

In [3]:
for x in 'UAE':
    print(x)

U
A
E

In [17]:
for i in range(0,1,2):
    print(i)

0

In [4]:
word = input ('Enter a word')
for i in word:
    print(i)

Enter a wordUSA
U
S
A

In [9]:
word = input('Enter a word\t')
counter = 0
for i in word:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' ):
        counter = counter+1
print(counter,'Vowels')
print()

Enter a word	lol
1 Vowels

 counts the number of vowels in the text provided by the user.

In [25]:
x = int (input('ENter a anumber'))
for i in range(1,x+1):
    for j in range(1,x+1):
        print(i*j ,end='   ')
    print( end='\n')

ENter a anumber10
1   2   3   4   5   6   7   8   9   10
2   4   6   8   10   12   14   16   18   20
3   6   9   12   15   18   21   24   27   30
4   8   12   16   20   24   28   32   36   40
5   10   15   20   25   30   35   40   45   50
6   12   18   24   30   36   42   48   54   60
7   14   21   28   35   42   49   56   63   70
8   16   24   32   40   48   56   64   72   80
9   18   27   36   45   54   63   72   81   90
10   20   30   40   50   60   70   80   90   100

In [18]:
size = int(input('enter the table size:'))
for row in range(1, size+1):
    for column in range(1, size+1):
        product = row * column
        print('{0:5}'.format(product),end=' ')
        #print(product,end=' ')
    print()

enter the table size:10
    1     2     3     4     5     6     7     8     9    10
    2     4     6     8    10    12    14    16    18    20
    3     6     9    12    15    18    21    24    27    30
    4     8    12    16    20    24    28    32    36    40
    5    10    15    20    25    30    35    40    45    50
    6    12    18    24    30    36    42    48    54    60
    7    14    21    28    35    42    49    56    63    70
    8    16    24    32    40    48    56    64    72    80
    9    18    27    36    45    54    63    72    81    90
   10    20    30    40    50    60    70    80    90   100

*
**
***
****

*****
****
***
**
*

In [ ]:
for i in range(1,60):
    for j in range(1,60):
        print(i*j, end=' ')
    print(end='\n')

for/else while/else

infinite loop while

# DATA STRUCTURES

LIST

TUPLE

DICTIONARY

ORDERED DICTIONARY

SET

FROZENSET